@import './base.css';
@import 'primeicons/primeicons.css';

a,
.green {
  text-decoration: none;
  color: hsla(96.8, 60%, 50%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(96.8, 100%, 37%, 0.2);
  }
}

/* Screen Type 1: Single Layout with Logo and Navigation */
.type1 {
  background-color: #272525;
  height: 100vh;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
}
.type1 header{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  transition: top 0.5s ease;
  box-sizing: border-box;
}
.type1 .logo{
  font-size:2em;
  color:#6BA149;
  font-weight: bold;
  text-align: center;
}
.type1 .container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  height: calc(100vh - 150px);

}

@media (max-height: 830px) {
  .type1 header {
    padding-top: calc(max(26px, 150px - ((830px - 100vh) / 2)));
  }
}
@media (max-height: 570px){
  .type1 .container{
    justify-content: center;
    height: auto;
  }
}

/* Screen Type 2: Three-Part Layout */
.type2 {
  background-color: var(--backcore-color2);
  display: flex;
  flex-direction: column;
  height:100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.type2 header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:120px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.type2 .search-bar{
  padding: 8px 20px;
  background-color: var(--backcore-color2);
  border-radius: 15px;
  border: none;
  color: var(--Font-color);
  font-size: 16px;
  font-weight: bold;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.type2 .search-bar-background{
  position: absolute;
  left:20px;
  padding:12px 15px;
  background-color: var(--backcore-color1);
  border-radius: 18px;
  width:350px;
  height:60px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.type2 .logo-nav-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  top:20px;
}
.type2 .middle{
  background-color: var(--backcore-color1);
  flex-grow: 2;
  margin: 0 20px 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 18px;
  width: calc(100% - 40px);
}

.type2 .previously-played{
  background-color: var(--backcore-color1);
  height: 20vh;
  margin: 0 20px 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 18px;
  width: calc(100% - 40px);
}
@media(max-width: 900px){
  .type2 .search-bar,
  .type2 .search-bar-background{
    display: none;
  }
}
